doctype html
//
  Author: Heinz Geipel
  // Date: 5/31/2020
  // Course: CPRG-210-OOS
  // Exercises for days 1-7
head
  title Contact
  // <link href="/mystyles.css" rel="stylesheet" />
h1
  | CSIA  Montreal 
  br
p
  | 401-8615 St Laurent Blvd 
  br
p
  | Montreal - Quebec 
  br
p  Tel: 514.748.2648
